In [3]:
# ── Cell 1: imports & MLflow setup ──────────────────────────
import pandas as pd, mlflow, matplotlib.pyplot as plt, seaborn as sns, os, json, pathlib, numpy as np

mlflow.set_tracking_uri("http://localhost:5000")   # assumes launcher is running
EXPERIMENT_NAME = "Baghdad‑Housing‑EDA"
mlflow.set_experiment(EXPERIMENT_NAME)

<Experiment: artifact_location='/Users/zahra/Desktop/ChronusMLOps/artifacts/1', creation_time=1745302016317, experiment_id='1', last_update_time=1745302016317, lifecycle_stage='active', name='Baghdad‑Housing‑EDA', tags={}>

### Cell 2: load data

In [4]:
DATA_PATH = "../data/raw/baghdad_mansour_houses.csv"
df = pd.read_csv(DATA_PATH)
df.head()

,ID,listing_date,type,category,selling_price_per_meter_usd,selling_price_per_meter_iqdr,rent_price_iqdr,Bedrooms,bathrooms,balcony,...,year_built,area_type,floor_apartment,neighbourhood,county,street,view,wajiha,sqmt_street,rent_price_usd
0,1.0,7/27/2024,adu,rent,NaN,NaN,NaN,3,1.0,NaN,...,NaN,NaN,NaN,NaN,dawoodi,NaN,NaN,-,NaN,3000.0
1,2.0,7/27/2024,house,rent,NaN,NaN,NaN,3,1.0,NaN,...,NaN,NaN,NaN,NaN,dawoodi,NaN,corner,NaN,NaN,2000.0
2,3.0,7/27/2024,house,rent,NaN,NaN,NaN,5,3.0,NaN,...,NaN,NaN,NaN,NaN,spanish embassy,NaN,highway,-,NaN,3000.0
3,4.0,7/26/2024,apartment,rent,NaN,NaN,NaN,1,1.0,NaN,...,NaN,NaN,NaN,NaN,dawoodi,NaN,NaN,-,NaN,1200.0
4,5.0,7/28/2024,house,rent,NaN,NaN,NaN,3,3.0,NaN,...,2023,NaN,NaN,NaN,14 ramadan,NaN,neighbourhood,7,NaN,4000.0